{erl_opts, [{parse_transform, lager_transform}, {src_dirs, ["src", "test"]}, debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{eunit_compile_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.
{deps, [
    {riak_core, ".*", {git, "git://github.com/dreyk/riak_core", {branch, "monitor"}}},
    {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {branch, "develop"}}}
]}.